<div class="card margin-bottom-0">
    <div class="card-body">

        <h4>Projects</h4>
        <p class="subtitle margin-bottom-20">Table example with template features.</p>



        <div class="table-responsive">
            <table class="table margin-bottom-0">
                <thead>
                    <tr>
                        <th scope="col">Project name</th>
                        <th scope="col" width="200">Manager</th>
                        <th scope="col" width="200">Customer</th>
                        <th scope="col" width="100">Price</th>
                        <th scope="col" width="150">Executors</th>
                        <th scope="col" width="115"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <strong>Web site for company</strong>
                        </th>
                        <td>
                            <div class="user user--rounded user--bordered">
                                <img src="http://via.placeholder.com/128x128">
                                <div class="user__name">
                                    <strong>Tracey Newman</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="user user--rounded user--bordered">
                                <img src="http://via.placeholder.com/128x128">
                                <div class="user__name">
                                    <strong>Jonathan Foster</strong>
                                </div>
                            </div>
                        </td>
                        <td><strong>$15</strong>/h</td>
                        <td>
                            <div class="user-group user-group--bordered">
                                <div class="user user--rounded">
                                    <img src="http://via.placeholder.com/128x128">
                                </div>
                                <div class="user user--rounded">
                                    <img src="http://via.placeholder.com/128x128">
                                </div>
                                <div class="user user--rounded">
                                    <img src="http://via.placeholder.com/128x128">
                                </div>
                                <div class="user user--rounded">
                                    <a href="#" class="user__button"><span class="fa fa-plus"></span></a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-light btn-sm">More details...</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <strong>Logo design</strong>
                        </th>
                        <td>
                            <div class="user user--rounded user--bordered">
                                <img src="http://via.placeholder.com/128x128">
                                <div class="user__name">
                                    <strong>Dolores Wallace</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="user user--rounded user--bordered">
                                <img src="http://via.placeholder.com/128x128">
                                <div class="user__name">
                                    <strong>Maurice Collins</strong>
                                </div>
                            </div>
                        </td>
                        <td><strong>$21</strong>/h</td>
                        <td>
                            <div class="user-group user-group--bordered">
                                <div class="user user--rounded">
                                    <img src="http://via.placeholder.com/128x128">
                                </div>
                                <div class="user user--rounded">
                                    <img src="http://via.placeholder.com/128x128">
                                </div>
                                <div class="user user--rounded">
                                    <a href="#" class="user__button"><span class="fa fa-plus"></span></a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-light btn-sm">More details...</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <strong>Developing</strong>
                        </th>
                        <td>
                            <div class="user user--rounded user--bordered">
                                <img src="http://via.placeholder.com/128x128">
                                <div class="user__name">
                                    <strong>Rebeca Wory</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="user user--rounded user--bordered">
                                <img src="http://via.placeholder.com/128x128">
                                <div class="user__name">
                                    <strong>Dmitry Ivaniuk</strong>
                                </div>
                            </div>
                        </td>
                        <td><strong>$25</strong>/h</td>
                        <td>
                            <div class="user-group user-group--bordered">
                                <div class="user user--rounded">
                                    <img src="http://via.placeholder.com/128x128">
                                </div>
                                <div class="user user--rounded">
                                    <img src="http://via.placeholder.com/128x128">
                                </div>
                                <div class="user user--rounded">
                                    <a href="#" class="user__button"><span class="fa fa-plus"></span></a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-light btn-sm">More details...</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <strong>Website support</strong>
                        </th>
                        <td>
                            <div class="user user--rounded user--bordered">
                                <img src="http://via.placeholder.com/128x128">
                                <div class="user__name">
                                    <strong>Dolores Wallace</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="user user--rounded user--bordered">
                                <img src="http://via.placeholder.com/128x128">
                                <div class="user__name">
                                    <strong>Dmitry Ivaniuk</strong>
                                </div>
                            </div>
                        </td>
                        <td><strong>$10</strong>/h</td>
                        <td>
                            <div class="user-group user-group--bordered">
                                <div class="user user--rounded">
                                    <img src="http://via.placeholder.com/128x128">
                                </div>
                                <div class="user user--rounded">
                                    <a href="#" class="user__button"><span class="fa fa-plus"></span></a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-light btn-sm">More details...</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>



    </div>
</div>
