<!-- PAGE HEADER -->
<header class="page__header">

    <div class="logo-holder">
        <a href="/" class="logo-text d-none d-lg-block"><strong class="text-primary">#</strong> THE <strong>RIGHT WAY</strong></a>
        <a href="/" class="logo-text d-lg-none"><strong class="text-primary">#</strong><strong>RW</strong></a>
        <div class="rw-btn rw-btn--nav" data-action="aside-hide"><span></span></div>
    </div>
    <div class="container">

    </div>
    <div class="box">

    </div>
</header>
<!-- //END PAGE HEADER -->
