<!-- PAGE ASIDE PANEL -->
<div class="page-aside invert" id="page-aside">
    <div class="scroll" style="max-height: 100%">

        <div class="navigation" id="navigation-default">

            <ul>
                <li class="title">Navigation</li>
                <li>
                    <a href="#">
                        <span class="text">Navigation item #1</span>
                    </a>
                </li>
                <li class="openable">
                    <a href="#">
                        <span class="text">Navigation item #2</span>
                    </a>
                    <ul>
                        <li>
                            <a href="#" class="no-icon">
                                <span class="text">Sublevel item #1</span>
                            </a>
                        </li>
                        <li class="openable">
                            <a href="#" class="no-icon">
                                <span class="text">Sublevel item #2</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="#" class="no-icon">
                                        <span class="text">Third level #1</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="no-icon">
                                        <span class="text">Third level #2</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="no-icon">
                                        <span class="text">Third level #3</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="no-icon">
                                <span class="text">Sublevel item #3</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <span class="text">Navigation item #3</span>
                    </a>
                </li>
            </ul>

        </div>

    </div>
</div>
<!-- //END PAGE ASIDE PANEL -->
