<div class="card">
    <div class="card-body">

        <div class="row">
            <div class="col-12 col-lg-6">

                <h4>User login information</h4>
                <p class="subtitle margin-bottom-20">This is basic example of content.</p>



                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>First name<em>*</em>:</label>
                            <input type="text" class="form-control" value="Jonathan" placeholder="Your name">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Second name<em>*</em>:</label>
                            <input type="text" class="form-control" value="Doenson" placeholder="Your second name">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>E-mail<em>*</em>:</label>
                            <input type="email" class="form-control" value="jnathandoe@domain.com" placeholder="Your email">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Web site<em>*</em>:</label>
                            <input type="text" class="form-control" value="www.website.com" placeholder="Your domain">
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <h5 class="margin-top-40">Change password</h5>
                <p class="subtitle margin-bottom-20">Use form below to change your current password.</p>

                <div class="form-row margin-bottom-30">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Password:</label>
                            <input type="password" class="form-control" value="" placeholder="New password">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Re-password:</label>
                            <input type="password" class="form-control" value="" placeholder="Repeat password">
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 col-lg-6">

                <h4>User personal details</h4>
                <p class="subtitle margin-bottom-20">Another part of content example forms.</p>

                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>System id:</label>
                            <input type="text" class="form-control" value="9228" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Account type:</label>
                            <input type="text" class="form-control" value="Administrator" placeholder="" readonly>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label>Country:</label>
                            <select class="form-control">
                                <option value="us" selected>USA</option>
                                <option value="option1">Option 1</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                                <option value="option4">Option 4</option>
                                <option value="option5">Option 5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label>Address:</label>
                            <input type="text" class="form-control" value="CA, San Francisco, Bosworth st.">
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label>Postal code:</label>
                            <input type="text" class="form-control" value="90210">
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <h5 class="margin-top-40">Settings</h5>
                <p class="subtitle margin-bottom-20">Important settings for current user.</p>

                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <label class="custom-control custom-checkbox margin-bottom-5">
                                <input type="checkbox" class="custom-control-input" checked="">
                                <span class="custom-control-label">Auto update status</span>
                            </label>
                            <label class="custom-control custom-checkbox margin-bottom-5">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-label">Remove animations</span>
                            </label>
                            <label class="custom-control custom-checkbox margin-bottom-5">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-label">Auto log out</span>
                            </label>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label class="custom-control custom-checkbox margin-bottom-5">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-label">Send notifications</span>
                            </label>
                            <label class="custom-control custom-checkbox margin-bottom-5">
                                <input type="checkbox" class="custom-control-input" checked="">
                                <span class="custom-control-label">Use cookies</span>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" checked="">
                                <span class="custom-control-label">Hide personal data</span>
                            </label>
                        </div>

                    </div>

                </div>

            </div>
        </div>



    </div>
</div>
