<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partial/head %>
        <title>ATUTU Admin</title>
</head>
<style media="screen">
    #user-profile {
        border-radius: 10px;
    }
    .detail{
        padding-left: 520px;
    }
    .detail1{
        padding-left: 300px;
    }
    .creator{
        padding-left: 300px;
    }
    .creator1{
        padding-left: 450px;
    }
    .list{
    padding-left: 1000px;
    }
</style>

<body>

    <!-- PAGE WRAPPER -->
    <div class="page page--w-header">
        <% include ../partial/header %>
            <!-- PAGE CONTENT WRAPPER -->
            <div class="page__content page__content--w-aside-fixed" id="page-content">

              <!-- PAGE ASIDE PANEL -->
              <div class="page-aside invert" id="page-aside">
                  <div class="scroll" style="max-height: 100%">
                  <div class="navigation" id="navigation-default">

                      <div class="user user--bordered user--lg user--w-lineunder user--controls">
                          <img src="http://via.placeholder.com/128x128">
                          <div class="user__name">
                              <strong>Nay Linn Oo</strong><br>
                              <span class="text-muted">Administrator</span>
                          </div>
                          <div class="user__lineunder">
                              <div class="text">
                                  Last visit 15min ago
                              </div>
                          </div>
                      </div>

                          <ul>
                              <li class="title">Main</li>
                              <li>
                                  <a href="">
                                      <span class="icon li-home"></span>
                                      <span class="text">Home</span>
                                  </a>
                              </li>

                              <li class="openable">
                                  <a href="#">
                                      <span class="icon fa fa-copy"></span>
                                      <span class="text">Management Campaign</span>
                                  </a>
                                  <ul>
                                      <li>
                                          <a href="campaign-list" class="no-icon">
                                              <span class="text">Campaign List</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="report-list" class="no-icon">
                                              <span class="text">Campaign Report List</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="campaign-detail" class="no-icon">
                                              <span class="text">Campaign Detail View</span>
                                          </a>
                                      </li>
                                  </ul>
                              </li>

                              <li class="openable">
                                  <a href="#">
                                      <span class="icon fa fa-dollar"></span>
                                      <span class="text">Manage Point</span>
                                  </a>
                                  <ul>
                                    <li>
                                        <a href="point-transfer" class="no-icon">
                                            <span class="text">Point Transfer</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="point-history" class="no-icon">
                                            <span class="text">Point Transfer History</span>
                                        </a>
                                    </li>
                                  </ul>
                              </li>

                              <li class="openable">
                                  <a href="#">
                                      <span class="icon fa fa-clipboard"></span>
                                      <span class="text">Manage Hot Event</span>
                                  </a>
                              </li>

                              <li class="openable">
                                  <a href="#">
                                      <span class="icon fa fa-clone"></span>
                                      <span class="text">Manage Charities</span>
                                  </a>
                              </li>

                              <li>
                                  <a href="category">
                                      <span class="icon fa fa-file-text-o"></span>
                                      <span class="text">Manage Categories</span>
                                  </a>
                              </li>

                              <li class="openable">
                                  <a href="#">
                                      <span class="icon li-user"></span>
                                      <span class="text">Manage Users</span>
                                  </a>
                                  <ul>
                                    <li>
                                        <a href="user-list" class="no-icon">
                                            <span class="text">User List</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="user-detail" class="no-icon">
                                            <span class="text">User Detail</span>
                                        </a>
                                    </li>
                                  </ul>
                              </li>

                              <li class="openable">
                                  <a href="#">
                                      <span class="icon fa fa-envelope"></span>
                                      <span class="text">Mail</span>
                                  </a>
                              </li>
                          </ul>
                  </div>
                  </div>
              </div>
              <!-- //END PAGE ASIDE PANEL -->

              <!-- SIDEPANEL -->
              <div class="page-sidepanel" id="page-sidepanel">
                  <div class="page-sidepanel__content">

                      <!-- QUICK PAGE NAVIGATION -->
                      <div class="navigation navigation--quick preloading">
                          <ul id="navigation-quick">
                              <li class="title">Current page navigation</li>
                          </ul>
                      </div>
                      <!-- //END QUICK PAGE NAVIGATION -->

                  </div>
                  <div class="page-sidepanel__button page-sidepanel__button--lower" data-action="sidepanel-hide"><div></div></div>
              </div>
              <!-- //END SIDEPANEL -->

                <!-- PAGE CONTENT CONTAINER -->
                <div class="content" id="content">

                    <!-- PAGE HEADING -->

                    <!-- //END PAGE HEADING -->
                    <div class="container-fluid">
                        <h1 id="rw-tb-default">User Detail</h1>
                    </div>
                    <!-- //END PAGE CONTENT CONTAINER -->

                    <!-- //END PAGE CONTENT -->

                </div>

            </div>
    </div>
    <!-- //END PAGE WRAPPER -->
        <% include ../partial/script %>
            <div class="card">
            <div class="card-body">
             <div id="user-profile">
                <center><img src="/img/signin.jpg" alt="profile photo"></center>
            </div>
            </div>
            <div class="detail">
                <h3>Email:&nbsp&nbsp&nbsp&nbsp user@gmail.com</h3>
                <h3>ID:&nbsp&nbsp&nbsp&nbsp happy</h3>
                <h3>Birthday Date:&nbsp&nbsp&nbsp&nbsp 4.4.1996</h3>
                <h3>Address:&nbsp&nbsp&nbsp&nbsp Pathein</h3>
                <h3>Phone Number:&nbsp&nbsp&nbsp&nbsp 0999</h3>
                <h3>Active Point:&nbsp&nbsp&nbsp&nbsp 40,000points</h3>
                <h3>Total Donation Amount:&nbsp&nbsp&nbsp&nbsp 40,000points</h3>
                <h3>Join Date:&nbsp&nbsp&nbsp&nbsp 20.5.2018</h3>
                <h3>Last Login:&nbsp&nbsp&nbsp&nbsp 20.5.2010</h3>
            </div>
            </div>

        <div class="card">
        <div class="card-body">
        <center><h1 id="rw-lg-js">Creator at Campaign</h1></center>
        <div class="creator">
          <div class="row margin-bottom-30">
              <div class="col-12 col-lg-3">
                  <a tabindex="0" class="btn btn-light btn-block" role="button" data-toggle="popover" data-trigger="hover" title="Children care" data-content="Category:Children,Location:Pathein,Progress:89%,End date:22.4.2019">
                      Children care
                  </a>
              </div>
              <div class="col-12 col-lg-3">
                  <a tabindex="0" class="btn btn-light btn-block" role="button" data-toggle="popover" data-trigger="hover" title="Children care" data-content="Category:Children,Location:Pathein,Progress:89%,End date:22.4.2019">
                      Children care
                  </a>
              </div>
              <div class="col-12 col-lg-3">
                  <a tabindex="0" class="btn btn-light btn-block" role="button" data-toggle="popover" data-trigger="hover" title="Children care" data-content="Category:Children,Location:Pathein,Progress:89%,End date:22.4.2019">
                      Children care
                  </a>
              </div>
              <div class="col-12 col-lg-3">
                  <a tabindex="0" class="btn btn-light btn-block" role="button" data-toggle="popover" data-trigger="hover" title="Children care" data-content="Category:Children,Location:Pathein,Progress:89%,End date:22.4.2019">
                      Children care
                  </a>
              </div>

          </div>
          <ul class="creator1">
            <span class="fa fa-angle-double-left"></span>
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
             <span class="fa fa-angle-double-right"></span>
          </ul>

          </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
         <center><h1 id="rw-lg-js">Member at event</h1></center>
         <div class="creator">
                  <div class="row margin-bottom-30">
                      <div class="col-12 col-lg-3">
                          <a tabindex="0" class="btn btn-light btn-block" role="button" >
                              Children care
                          </a>
                      </div>
                      <div class="col-12 col-lg-3">
                          <a tabindex="0" class="btn btn-light btn-block" role="button">
                              Children dream
                          </a>
                      </div>
                      <div class="col-12 col-lg-3">
                          <a tabindex="0" class="btn btn-light btn-block" role="button">
                              Children care
                          </a>
                      </div>
                      <div class="col-12 col-lg-3">
                          <a tabindex="0" class="btn btn-light btn-block" role="button">
                              Children health
                          </a>
                      </div>

                  </div>
                  <ul class="creator1">
                    <span class="fa fa-angle-double-left"></span>
                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                    <span class="fa fa-angle-double-right"></span>
                  </ul>
              </div>
          </div>
        </div>
        <div class="list">
            <div class="row margin-bottom-8">
            <div class="col-6 col-lg-8">
            <button type="button" class="btn btn-warning btn-block"><h4>Go to list</h4></button>
            </div>
            </div>
        </div>


</body>

</html>
